@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: "Noto Sans";
}
h2{
    font-size: 30px;
    border-bottom: 1px solid black;
    color:red;
}

div{
    /*margin border padding*/
    border:1px solid #fff;
    box-shadow:0px 1px 20px 0px rgba(115, 80, 212, 0.4);/*x축 y축 흐림정도, 번짐정도, 색깔*/
    margin: 15px;
}

.mainspace{
    background-color:paleturquoise;
}

.titlebox{
    margin-top:15px;
}
.titlebutton{
    float: right;
    margin-top: 10px;
}
.mainbox{
    margin: 15px;
}

.mainImg{
    width:250px;
    float: right;
    margin:15px;
    border-radius: 30%
}

.buttonsection{
    float: right;
    margin: 20px;
}
.mainTitle{
    margin:25px;
    font-weight: bold;
}
footer{
    text-align: center;
}