@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:wght@100&family=Roboto&family=Rubik+Bubbles&family=Titillium+Web&display=swap');
*{
    font-family:"Roboto";
    text-align:center;
}


.box{
    border: 5px solid black;
    margin: 30px;
    padding-bottom: 30px;
    height:550px;
}

.btn{
    background-color: black !important;
    border:1px solid black !important;
    font-size: 30px !important;
    color: white !important;
    width:200px;
}




.test{
    display: none;
    margin:150px;
    
}



.resultY 
{
    display: none;
    margin:200px;
}
.resultN
{
    display: none;
    margin:200px;
}