@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    font-family: "Black Han Sans";
}
h1{
    color:blue;
}
p{
    font-size: 50px;
}

div {
    border: 4px solid pink;
    /* margin: 30px; */
}

.a{
    padding: 50px;
}