@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat';
}

h1 {
    border-bottom: 1px #ebebeb;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #282828;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    padding-bottom: 5px;
}
/* 타이틀 */
.titleButton {
    float: right;
    margin-top: 6px;
}

.titlebox {
    padding: 20px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
}

.searchBox {
    text-align: right;
}

.mainSpace {
    width: 1400px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4)
}

/* 메인 */
.maintitle {
    margin-left: 25px;
    font-weight: bold;
}

.mainbox {
    width: 1080px;
    height: 1200px;
    margin: 30px;
    margin-left: 260px;
    margin-bottom: 16px;
    padding: 30px;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
}
/* 이미지 섹션 */
.imgSection {
    float: right;
    padding-top: 60px;
    margin: 15px;
}

.mainImg{
    width: 300px;
}

/* 카테고리 */
.categorybox {
    width: 240px;
    height: 1200px;
    margin-top: 30px;
    margin-bottom: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
    float: left;
}

.naver {
    text-align: center;
}

.foot {
    text-align: center;
}