@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    font-family:"Nanum Myeongjo";
    text-align:center;
}


article {
    display: flex;/*옆으로 정렬이라고 생각하면 될듯*/
    flex-direction: column;/*column은 밑으로 쌓이는 방식임. 기본은 좌에서 우로 쌓이는 방식*/
}

.box{
    border:1px solid black;
    margin:30px;
    padding-bottom:30px;
    height:600px;
}
.btn{
    background-color:black !important;
    font-size:20px !important;
    width:300px;
}
.buttonbox{
    margin: 0 auto;
}
.test{
    display: none;
}

.answerbutton {
    margin: 0 auto;
}

.resultY, .resultN {
    display: none;
    margin-top: 240px;
}
.retest{
    display: none;
}